# Order is important. The last matching pattern has the most precedence.

*                                @chef/chef-server-maintainers
.expeditor/**                    @chef/jex-team
cookbooks/chef-server-deploy/**  @chef/jex-team
inspec/**                        @chef/jex-team
terraform/**                     @chef/jex-team
.github/ISSUE_TEMPLATE/**        @chef/docs-team
